html, body{
  height: 100%;
}

body{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #6c6f73;

}

#stage{
  background: url("http://www.visiteurope.com/images/images/v1/Other_Adriatic_Coast-1_HD_L.JPEG") center center no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

#stage-caption{
  font-size: 1.4rem;
  font-weight: 200;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
}

#stage-caption h1, h3{
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

#stage-caption p{
  color: black;
}


/*navbar customizacija*/
.navbar-custom {
	  background-color: #112D4E;
    color:#F9F7F7;
  	border-radius:5px;
}

.navbar-custom .navbar-nav > li > a {
  	color:#F7FBFC;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #F9F7F7;
	  background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #3F72AF;
    color: #DBE2EF;
    border-radius: 2px;

}

/*Apartmani */
.feature-img{
  width: 400px;
  height: 200px;
}

.card{
  padding: 50px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}


/*feature-apartments*/
#feature-apartments{
    color: #384259;
    background-color: #DBE2EF;
    width: 100%;
    border: 1px solid #769FCD;
    border-radius: 5px;
    padding: 25px;
}

#feature-apartments h2{
    margin: 1em 0 0.5em 0;
    color: #112D4E;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#feature-apartments {
    font-size: 14px;
    font-family: sans-serif;
    padding: 5px;
}

#feature-apartments  img{
    width: 100%;
}

/*customizacija modala*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background: linear-gradient(#3F72AF, #3F72AF);
    color: #F9F7F7;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #769FCD;
    width: 50%; /* Could be more or less, depending on screen size */
    text-align: left;
}

/* The Close Button */
.close {
    color: #F9F7F7;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #112D4E;
    text-decoration: none;
    cursor: pointer;
}
/* tipka za saznaj vise */
.more{
    background: none;
    border:none;
    padding: 0;
    font-style: italic;
    font-weight: bold;
    color: #3F72AF;
}

.more:hover{
    background:none;
    border:none;
    margin:0;
    padding:0;
    font-style:italic;
    font-weight: bold;
    color: #112D4E;
}

/*buttoni za rezervaciju */
#feature-apartments .botunko{
	background-color:#112D4E;
	border-radius:6px;
	border:1px solid #F9F7F7;
	display:inline-block;
	cursor:pointer;
	color:#F9F7F7;
	font-family: Roboto;
	font-size:14px;
	font-weight:bold;
	padding:0px 27px;
	text-decoration:none;
	text-shadow:0px 1px 0px #354D62;
	float: right;

}

#feature-apartments  .botunko:hover{
    color: #3F72AF;
}

/*villas*/
/*feature-apartments*/

#feature-villas h2{
      margin: 1em 0 0.5em 0;
      color: #112D4E;
      font-weight: normal;
      font-size: 30px;
      line-height: 40px;
      font-family: 'Roboto', sans-serif;
      text-align: center;
}
#feature-villas{
    color: #112D4E;
    background-color: #E8E2E2;
    width: 100%;
    border: 1px solid #769FCD;
    border-radius: 5px;
    padding: 25px;
}

#feature-villas {
    font-size: 14px;
    font-family: sans-serif;
    padding: 5px;
}

#feature-villas  img{
    width: 100%;
}

/*buttoni za rezervaciju */
#feature-villas .botunko{
	background-color:#112D4E;
	border-radius:6px;
	border:1px solid #F9F7F7;
	display:inline-block;
	cursor:pointer;
	color:#F7FBFC;
	font-family: Roboto;
	font-size:14px;
	font-weight:bold;
	padding:0px 27px;
	text-decoration:none;
	text-shadow:0px 1px 0px #354D62;
	float: right;

}

#feature-villas  .botunko:hover{
    color: #3F72AF;
}


/*google maps box */
#map {
    width: 80%;
    height: 350px;
    margin-bottom: 50px;
	  border: 2px solid #D6E6F2;
	  border-radius: 5px;

}

#foot{
  width: 100%;
  background: #3F72AF;
  border: 2px solid #3F72AF;
  border-radius: 5px;
}

footer{
  background: #112D4E;
  color: #F9F7F7;
  width: 100%;
  padding-top: 20px;
}
/*odredivanje stila za h3 */
h3{
    color: #769FCD;
    font-weight: bold;
}
/*Kontakt forma */

div.kontakt{
    padding: 5px;
    width: 80%;
}

label{
    color: #D7F2F7;
}
input.text{
    height: 20px;
    width: 100%;
    border-radius: 5px;
}
textarea.poruka{
    height: 200px;
    width: 100%;
    border-radius: 5px;
}

#kontakt{
   width: 100%;
   padding: 5px;
}
/*copyright */
#copy{
  color: #F9F7F7;
  font-size: 10px;
  text-align: center;
  font-style: italic;
}
/*svg velicina */
svg{
    width: 100px;
    height: 100px;
}
